.dc-a50ed28:active{transform:translate(2px,3px) !important;box-shadow:1px 1px 0 #2A1911 !important}
.dc-f65ac3d:focus-visible{color:#F48A5E !important;text-decoration:underline !important}
.dc-fec8ae2:focus-visible{color:#A9401A !important;text-decoration:underline !important}
.dc-h23ce10:hover{color:#A9401A !important;box-shadow:inset 0 0 0 1.5px #A9401A !important}
.dc-h3b4fed:hover{transform:translate(1px,1px) !important;box-shadow:2px 3px 0 #2A1911 !important;color:#2A1911 !important}
.dc-h7f4ee1:hover{color:#A9401A !important;text-decoration:underline !important;text-decoration-thickness:1.5px !important;text-underline-offset:3px !important}
.dc-he98b21:hover{color:#F48A5E !important;text-decoration:underline !important;text-decoration-thickness:1.5px !important;text-underline-offset:3px !important}
